<form id="editCategory">
	<div>
		<label for="edit_name">Название</label>
		<input type="text" id="edit_name" name="edit_name" value="<%= name %>">
	</div>

	<div>
		<label for="edit_subscription_price">Цена подписки</label>
		<input type="edit_subscription_price" id="edit_subscription_price" name="subscription_price" value="<%= subscription_price %>">
	</div>

	<div>
		<label for="edit_testa_price">Цена теста</label>
		<input type="edit_test_price" id="edit_test_price" name="edit_test_price" value="<%= test_price %>">
	</div>

	<div>
		<input type="submit" class="pure-button pure-button-primary" value="Редактировать">
		<span class="pure-button close">Закрыть</span>
	</div>
</form>