<form id="editCategory">
	<div>
		<label for="edit_name">Название</label>
		<input type="text" id="edit_name" name="name" value="<%= name %>">
	</div>

	<div>
		<label for="subscription_price">Цена подписки</label>
		<input type="text" id="edit_subscription_price" name="subscription_price" value="<%= subscription_price %>">
	</div>

	<div>
		<label for="testa_price">Цена теста</label>
		<input type="text" id="edit_test_price" name="test_price" value="<%= test_price %>">
	</div>

	<div>
		<label for="ua_parameter">UA Parameter</label>
		<input type="text" id="edit_ua_parameter" name="ua_parameter" value="<%= ua_parameter %>">
	</div>

	<div>
		<input type="submit" class="pure-button pure-button-primary" value="Редактировать">
		<span class="pure-button close">Закрыть</span>
	</div>
</form>