<form class="pure-form" id="settings">
	<div>
		<label for="answer_time">Время ответа</label>
	 	<input type="number" id="answer_time" name="answer_time" value="<%= answer_time %>">
	</div>

	<div>
		<label for="daily_bonus">Ежедневный бонус</label>
		 <input type="number" id="daily_bonus" name="daily_bonus" value="<%= daily_bonus %>">
	</div>

	<div>
		<label for="general_cost">Базовая стоимость</label>
		 <input type="number" id="general_cost" name="general_cost" value="<%= general_cost %>">
	</div>

	<div>
		<label for="life_cost">Стоимость жизни</label>
		 <input type="number" id="life_cost" name="life_cost" value="<%= life_cost %>">
	</div>

	<div>
		<label for="top_bonus">Максимальный бонус</label>
		 <input type="number" id="top_bonus" name="top_bonus" value="<%= top_bonus %>">
	</div>

	<div>
		<label for="word_cost">Слово</label>
		<input type="number" id="word_cost" name="word_cost" value="<%= word_cost %>">
	</div>

	<div>
		<label for="words_for_the_next_bonus">Количество слов за следующий бонус</label>
		<input type="number" id="words_for_the_next_bonus" name="words_for_the_next_bonus" value="<%= words_for_the_next_bonus %>">
	</div>

	<div>
		<input type="submit" class="pure-button pure-button-primary" value="Сохранить">
	</div>

</form>