<form class="pure-form" id="settings">
	<div>
		<label for="answer_time">Время ответа</label>
	 	<input type="text" id="answer_time" name="answer_time" value="<%= answer_time %>">
	</div>

	<div>
		<label for="daily_bonus">Ежедневный бонус</label>
		 <input type="text" id="daily_bonus" name="daily_bonus" value="<%= daily_bonus %>">
	</div>

	<div>
		<label for="general_cost">Базовая стоимость</label>
		 <input type="text" id="general_cost" name="general_cost" value="<%= general_cost %>">
	</div>

	<div>
		<label for="test_cost">Стоимость слова</label>
		 <input type="text" id="test_cost" name="test_cost" value="<%= test_cost %>">
	</div>

	<div>
		<label for="top_bonus">Максимальный бонус</label>
		 <input type="text" id="top_bonus" name="top_bonus" value="<%= top_bonus %>">
	</div>

	<div>
		<label for="word_cost">Слово</label>
		<input type="text" id="word_cost" name="word_cost" value="<%= word_cost %>">
	</div>

	<div>
		<input type="submit" class="pure-button pure-button-primary" value="Сохранить">
	</div>

</form>