<form id="editWordForm">
	<div>
		<label for="word">Слово</label>
		<input type="text" id="edit_word" name="word" value="<%= word %>">
	</div>
	
	<div>
		<label for="answer">Ответ</label>
		<textarea type="answer" id="edit_answer" name="answer"><%= answer %></textarea>
	</div>

	<div>
		<label id="cat_id_label" for="category_id">Категория</label>
	</div>

	<div>
		<input type="submit" class="pure-button pure-button-primary" value="Редактировать">
		<span class="pure-button close">Закрыть</span>
	</div>
</form>'