<form id="editWordForm">
	<div>
		<label for="word">Слово</label>
		<input type="text" id="edit_word" name="word" value="<%= word %>" maxlength="20">
	</div>
	
	<div>
		<label for="answer">Описание</label>
		<textarea type="answer" id="edit_answer" name="answer" maxlength="125"><%= answer %></textarea>
	</div>

	<div>
		<label id="cat_id_label" for="category_id">Категория</label>
	</div>

	<div>
		<input type="submit" class="pure-button pure-button-primary" value="Добавить">
		<span class="pure-button reject2">Удалить</span>
	</div>
</form>